```env
# Porta do Servidor (deixe vazia para que a Hostinger defina dinamicamente)
PORT=

# Conexão com o PostgreSQL da Hostinger
SQL_HOST=localhost
SQL_DB_NAME=MatrizMV
SQL_USER=Shift
SQL_PASSWORD=Shift2026

# Chave da API do Gemini (AI Studio)
GEMINI_API_KEY=AQ.Ab8RN6J-PMtmt8KUabjWpUpa8UqrVVI1SI4goT8ussEVtUVu4w

