# Porta do Servidor PORT=3000

# Conexão com o Banco de Dados (PostgreSQL ou MySQL/MariaDB)
# Para MySQL/MariaDB (como Hostinger), defina SQL_PORT=3306 ou SQL_ENGINE=mysql
SQL_ENGINE=mysql
SQL_HOST=193.203.175.141
SQL_PORT=3306
SQL_SSL=false
SQL_DB_NAME=u844537895_MatrizMV2
SQL_USER=u844537895_ShiftMV
SQL_PASSWORD=SShift2026

# Chave da API do Gemini (AI Studio - REQUIRED)
GEMINI_API_KEY=
